.NavPageBottom {
  border-top: 1px solid rgba(0, 0, 0, 0.12);
  padding: 1rem 20px;
}

.NavPageBottom .Buttons {
  display: grid;
  grid-template-columns: 1fr;
  gap: 0.5rem;
}

.ButtonsFooter {
  display: flex;
  align-items: center;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 10px;
  height: 40px;
  background-color: white;
  color: black;
  padding: 10px;
  text-decoration: none;
}

#Signature {
  margin-left: 20px;
  margin-top: 12px;
  align-items: flex-start;
  color: gray;
  font-size: 0.7rem;
}

@media (min-width: 481px) {
  .NavPageTop .Buttons {
    gap: 12px;
  }
  .SearchBarInner input {
    width: 130px;
  }
  .NavPageBottom .Buttons {
    grid-template-columns: repeat(3, 1fr);
    gap: 1rem;
  }
  .TopMain {
    padding: 1.5rem 30px;
  }
}

@media (min-width: 769px) {
  .NavPageTop {
    flex-direction: row;
    justify-content: space-between;
    padding: 12px 40px;
  }
  .NavPageTop .Buttons {
    flex-wrap: nowrap;
    gap: 24px;
  }
  .SearchBarContainer {
    width: auto;
  }
  .SearchBarInner input {
    width: 160px;
  }
  .NavPageBottom {
    padding: 1.5rem 40px;
  }
  .NavPageBottom .Buttons {
    grid-template-columns: repeat(5, 1fr);
  }
  #Signature {
    margin-left: 40px;
  }
  .TopMain {
    padding: 2rem 40px;
  }
}