/* COMECO HEADER*/

.grid-destaques {
  display: grid;
  grid-template-columns: 1fr;
  gap: 1rem;
  padding: 1rem 20px;
}

.cards {
  border: 1px solid rgba(0, 0, 0, 0.12);
  border-radius: 10px;
  padding: 10px;
  display: flex;
  flex-direction: column;
  gap: 8px;
}
.title {
  padding: 1rem 20px;
  text-align: left;
}
.quadradocinza {
  background-color: #f0f0f0;
  border-radius: 8px;
  width: 100%;
  height: 200px;
}

.cards .quadradocinza {
  width: 100%;
  height: 150px;
  background-color: #f0f0f0;
  border-radius: 8px;
  margin-bottom: 10px;
}

/*RESPONSIVIDADE  */
@media (min-width: 481px) {
  .NavPageTop .Buttons {
    gap: 12px;
  }
  .SearchBarInner input {
    width: 130px;
  }
  .NavPageBottom .Buttons {
    grid-template-columns: repeat(3, 1fr);
    gap: 1rem;
  }
  .TopMain {
    padding: 1.5rem 30px;
  }
  .grid-destaques {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (min-width: 769px) {
  .NavPageTop {
    flex-direction: row;
    justify-content: space-between;
    padding: 12px 40px;
  }
  .NavPageTop .Buttons {
    flex-wrap: nowrap;
    gap: 24px;
  }
  .SearchBarContainer {
    width: auto;
  }
  .SearchBarInner input {
    width: 160px;
  }
  .NavPageBottom {
    padding: 1.5rem 40px;
  }
  .NavPageBottom .Buttons {
    grid-template-columns: repeat(5, 1fr);
  }
  #Signature {
    margin-left: 40px;
  }
  .TopMain {
    padding: 2rem 40px;
  }
  .grid-destaques {
    grid-template-columns: repeat(3, 1fr);
  }
}
